.settings-wrapper
  section
    .section-row(ng-repeat='item in accountInfo')
      .row-content(ng-class='{"has-bar": !$last}')
        .pull-left.medium-gray {{item.title}}
        .content-main {{item.content}}

  .section-interlude
    .b-inter-content All driver documents are required
    .s-inter-content.medium-gray to complete your booking

  section
    .section-row
      .section-title.pull-left.medium-gray Driver Documents
    .section-row(ng-repeat='item in driverDocuments')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref='cars')
        .column-content
          .pull-left.title-padding {{item.title}}
          .img-upload
            .image-wrapper
              img(ng-if='item.image', ng-src='{{item.image}}')
              .dashed-box-border(ng-if='!item.image')
                .box-content
                  .box-text.medium-gray Upload now
            p.ic-blue.next-pointer(ng-if='item.image') Change
            p.color-red.next-pointer(ng-if='!item.image') Upload

  .terms-of-service
    a.underline(href='http://www.google.com') Terms of Service
