.settings-wrapper
  section
    .section-row(ng-repeat='item in accountInfo')
      .row-content(ng-class='{"has-bar": !$last}')
        label.left-title.gray-title {{item.label}}
        label.content-main {{item.content}}

  .section-interlude
    p.b-inter-content All driver documents are required
    p.s-inter-content.gray-title to complete your booking

  section
    .section-row
      p.section-title.left-title.gray-title Driver Documents
    .section-row(ng-repeat='item in driverDocuments')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref='cars')
        .label-img
          label {{item.label}}
          img(ng-src='{{item.image}}')
        .upload-change
          p.next-pointer(ng-if='item.isUploaded') Change
          p.next-pointer(ng-if='!item.isUploaded', style='color: red') Upload

  .terms-of-service
    a.underline(href='http://www.google.com') Terms of Service
