.settings-wrapper
  section
    .section-row(ng-repeat='item in accountInfo')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref='{{item.link}}')
        .content-title {{item.title}}
        .content-main {{me[item.content]}}
        .next-pointer

  .section-interlude(ng-if='!me.all_docs_uploaded')
    .b-inter-content All driver documents are required
    .s-inter-content.m-gray to complete a rental

  section
    .section-row
      .section-title.m-gray Driver Documents
    .section-row(ng-repeat='item in driverDocuments')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref='{{item.link}}')
        .column-content
          .title-padding {{item.title}}
          .img-upload
            .image-wrapper
              img(ng-if='me[item.image]', ng-src='{{me[item.image]}}')
              .dashed-box-border(ng-if='!me[item.image]')
                .box-content
                  .box-text.m-gray Upload now
            p.ic-blue.next-pointer(ng-if='me[item.image]') Change
            p.color-red.next-pointer(ng-if='!me[item.image]') Upload

  button.button.logout(ng-click='logout()') Log out
