.bookings-wrapper
  .user-info
    h2 {{username}}
    button.clear-button(ui-sref='driverAccount') Edit Account Settings

  .bookings-container
    h4 MY RENTAL
    hr
    .booking-content
      car-image

      section
        h2 {{car.name}}
        .light {{car.booked_features}}
        .bold {{car.headline_features[2]}}

      section
        .bold
          | Status
          span(style='color: orange')  {{state.status}}
        .light {{state.content}}
