.bookings-wrapper
  .user-info
    circle-steps(step='2', of='4')

  .bookings-container
    ng-include(ng-if='booking', src='"app/bookings/step"+booking.step+".html"')
ic-confirm(show-modal='showConfirm', result='cancelBooking')

