.bookings-wrapper
  .user-info
    h2 {{username}}
    button.clear-button(ui-sref='driverAccount') Edit Account Settings

  .bookings-container
    ng-include(ng-if='booking', src='"app/bookings/step"+booking.step+".html"')
