.upload-wrapper
  .upload-container
    .title
      div Please upload a photo of
      .upload-title {{uploadTitle}}

    ic-upload(field-name="{{fieldName}}", after-upload-sref="{{afterUploadSref}}")

    .skip-link
      a(ng-if='showSkipLink', ui-sref="bookingDetail({goRequiredDoc: false})") skip for now

  .progress-bar
    progress-bar(progress='80')
