.upload-wrapper
  .title
    div Please upload a photo of
    .upload-title {{uploadTitle}}

  ic-upload(field-name="{{fieldName}}", next-state="{{nextState}}")

  .skip-link
    a(ng-if='showSkipLink', ui-sref="bookingDetail({goRequiredDoc: false})") skip for now
