.faq-container
  h2 Questions
  section
    h3 How do I rent a car?
    p 4 Simple Steps:
    ul
      li Browse through our listings and select the car you want.
      li Enter your phone number and a password to create your account, then upload your documents.
      li Wait for insurance approval.
      li Pay the deposit and first rental fee, pick up your car, and drive!

  section
    h3 How do I sign up?
    p It’s easy. Find the car you want to rent, then tap "Rent this car". Follow the steps to create an account and upload the 4 required documents.
    p Once your account is complete we’ll get you on the insurance (usually takes 24-48 hours) and you’ll be ready to drive.

  section
    h3 What about insurance?
    p All vehicles on idlecars maintain commercial insurance coverage compliant with state and local regulatory requirements. Each driver is added to the existing commercial insurance policy and removed at the end of the rental.

  section
    h3 How much does a rental cost?
    p It depends on which car you choose to rent. Take a look at our listings&nbsp
      a(ui-sref='cars') here.
      span &nbspAll rental prices include the cost of insurance and maintenance.

  section
    h3 What are my terms?
    p No membership fee or weekly fee. You pay for what you use.

  section
    h3 Are the cars registered with TLC/TCP/Other for-hire-vehicle regulators?
    p Yes. Every car on our marketplace is ready to drive for professional for-hire drivers.

  section
    h3 What is the minimum rental period?
    p Each owner sets their own minimum rental, but most are 1 week to 4 weeks (maximum). Browse our listings and choose what works for you.

  section
    h3 Is this a lease or rental?
    p They are rentals, they are not leases.

  section
    h3 What are the requirements to drive?
    p We verify every driver has appropriate documents to ensure safety and security. Drivers are required to provide the following documents: a Driver License, Professional (FHV) License, Defensive Driving Certificate, and a Proof of Address. We also conduct a review of the motor vehicle history.

  section
    h3 How do I contact idlecars?
    p You can always call us at 1-844-IDLECAR(&nbsp
      a(href='tel:1-844-4353227') 1-844-435-3227
      span )&nbspor email us at&nbsp
      a(href='mailto: support@idlecars.com') support@idlecars.com
      span .

  a.button(href='tel:1-844-4353227') Call us: 1-844-IDLECAR
