.faq-container
  h2 OWNER FAQ
  section
    h3 Why Idlecars?
    p It’s the easiest way to rent your car. We are the top marketplace for professional drivers and vehicle owners to connect. We strive to ensure the transactions are safe and secure. Through idlecars, you’ll be confident and at ease renting to a community of reliable and trustworthy drivers.

  section
    h3 What about insurance?
    p All vehicles on idlecars maintain commercial insurance coverage compliant with state and local regulatory requirements. Each driver is added to the existing commercial insurance policy and removed at the end of the rental.

  section
    h3 How do I sign up my car?
    p It’s easy. Fill out this form, and once it’s approved, it’s live on our marketplace!

  section
    h3 How do you screen drivers?
    p We take driver screening very seriously. All drivers are required to submit 4 pieces of documentation including their drivers license, professional license and evidence of completing defensive driving course. We also perform an independent review of the Motor Vehicle Record for each driver. Once the drivers have undergone our screening, they are allowed to complete their rental.

  section
    h3 How much can my car earn me?
    p An active idlecar can make up to $42,000 per year for a premium luxury SUV? The average weekly rate of vehicles listed on idlecars make $400 per week.

  section
    h3 What will I earn per rental?
    p Idlecar vehicle owners will receive 100% of price they set.

  section
    h3 What cars do you accept?
    p All vehicles must be registered and licensed as commercial vehicles. We accept all standard and luxury vehicles allowed to drive for Uber, Lyft, Via, Gett and the black car bases, etc. To get a sense of what is listed, you can visit our listing site here.

  section
    h3 How do I get paid?
    p You can either set up direct deposit with your bank account or receive checks on a weekly basis from our automated system.

  a.button(href='tel:1-844-idlecar') Call us: 1-844-IDLECAR
