.faq-container
  h2 OWNER FAQ
  section(ng-repeat='faq in ownerFaqs')
    h3 {{faq.Ask}}
    p {{faq.AnswerP1}}
    p(ng-if='faq.AnswerP2') {{faq.AnswerP2}}

  a.button(href='tel:1-844-idlecar') Questions? Call us.
