$dark_gray: rgb(34,34,34)
$light_gray: rgb(221,221,221)

$ic_blue: rgb(0,138,255)
$overlay_blue: rgba(0,138,255, 0.95)

%blue_theme
  background: $ic_blue
  color: white

%gray_theme
  background: $light_gray

%black_theme
  background: black
  color: white
