%pull_right
  flex: 1
  text-align: right

.has-bar
  border-bottom: 0.125rem solid $light_gray

.left-title
  text-align: left

.gray-title
  color: $medium_gray

.label-img
  flex: 1
  display: flex
  flex-direction: column

  label
    text-align: left
    color: black

  img
    flex: 1
    width: 7rem

.upload-change
  display: flex
  align-items: center
  color: $ic_blue

.content-main
  @extend %pull_right

.section-interlude
  padding: 0 1rem

.b-inter-content
  margin: 0

.s-inter-content
  font-weight: 100
  margin: 0

.settings-wrapper
  @extend %gray_theme
  padding: 1rem 5%
  text-align: center
  font-weight: 500

  section
    background: white
    margin: 1rem auto

    .section-row
      padding: 0 1rem

      .section-title
        padding-top: 1rem
        font-size: 1rem

      .row-content
        padding: 1rem 0
        display: flex
        border-radius: 0

.terms-of-service
  margin-bottom: 1rem

.underline
  text-decoration: underline
