%pull_right
  flex: 1
  text-align: right

.has-bar
  border-bottom: 0.1rem solid $light_gray

.pull-left
  text-align: left

.medium-gray
  color: $medium_gray

.ic-blue
  color: $ic_blue

.color-red
  color: red

.column-content
  flex: 1
  display: flex
  flex-direction: column

.img-upload
  flex: 1
  display: flex
  align-items: center

  .image-wrapper
    flex: 1

    img
      height: 4rem

.content-main
  @extend %pull_right

.section-interlude
  padding: 0.75rem 1rem

.s-inter-content
  font-weight: 100

.title-padding
  padding: 0.5rem 0 0.75rem 0

.settings-wrapper
  @extend %gray_theme
  padding: 1rem 5%
  text-align: center
  font-weight: 500

  section
    background: white
    margin: 1rem auto

    .section-row
      padding: 0 1rem

      .section-title
        padding-top: 1rem
        font-size: 1rem

      .row-content
        padding: 1rem 0
        display: flex
        border-radius: 0

.terms-of-service
  margin-bottom: 1rem
  font-size: 0.5rem

.underline
  text-decoration: underline
