%pull_right
  flex: 1
  text-align: right

%flex_center
  display: flex
  align-items: center
  justify-content: center

.has-bar
  border-bottom: 1px solid $light_gray
  border-radius: 0

.content-title
  text-align: left
  padding-right: 1rem
  color: $medium_gray

.content-main
  @extend %pull_right
  overflow: hidden
  text-overflow: ellipsis

.section-interlude
  padding: 0.75rem 1rem

.s-inter-content
  font-weight: 100

.title-padding
  padding: 0.5rem 0 0.75rem 0
  text-align: left

.settings-wrapper
  @extend %gray_theme
  @extend %flex_scrollable
  padding: 1rem $page_gutter
  text-align: center
  font-weight: 500

  section
    background: white
    margin: 1rem auto

    .section-row
      padding: 0 1rem

      .section-title
        text-align: left
        padding-top: 1rem
        font-size: $large_font_size

      .row-content
        padding: 1rem 0
        display: flex

  .flex-column, .image-wrapper
    flex: 1

  .flex
    align-items: center

  .small-image
    height: 2rem

  .big-image
    height: 4rem

.terms-of-service
  margin-bottom: 1rem
  font-size: $tiny_font_size
