%_section_padding
  padding: 2.5rem 1rem

.booking-success
  section
    @extend %_section_padding

  .insurance-approval
    @extend %gray_theme
    padding: 2.5rem 1.5rem

  .arrange-pickup
    font-weight: $bold_font_weight

  .docs
    @extend %_section_padding
