.bookings-wrapper
  @extend %gray_theme
  @extend %flex_scrollable
  text-align: center

  hr
    border: none
    height: 1px
    background: $light_gray

  .tiny
    font-weight: $light_font_weight

  .light, .bold
    font-size: $small_font_size

  .warning
    @extend .m-gray
    padding: 0 0.75rem

  .flex-row
    margin: 0.25rem 0
    text-align: left
    padding: 0 1rem

    .label
      flex: 4

    .content
      flex: 3

    button
      text-align: left

  .time-container
    @extend %flex_container_column

    button
      margin-top: 0

  .booking-header
    background: white
    padding: 1rem 0

    h2
      padding: 0 $page_gutter

    button
      color: $ic-blue
      font-weight: $bold_font_weight

    img
      height: 10rem
      margin: 1rem auto 0

  .booking-container
    padding: 1rem $page_gutter

  .booking-content
    background: white
    margin-bottom: 0.75rem

  .content-wording
    padding: 1.5rem $page_gutter 1rem

    section
      margin-bottom: 1rem

    section:last-of-type
      margin-bottom: 0

  button
    margin-top: 0.75rem

  .no-booking
    p
      margin: 3.5rem 0
      color: $medium_gray

  .cancel-container
    padding: 0 $page_gutter
