.button
  @extend %blue_theme
  @extend %flex_centered

  padding: 1rem
  border: 0

  text-transform: uppercase

  cursor: pointer

.ledged
  height: $ledge_height
  width: 100%
  position: absolute
  bottom: 0
  left: 0

  background: $overlay_blue

  &:hover
    background: $ic_blue
