.button
  @extend %blue_theme

  display: flex
  align-items: center
  justify-content: center

  padding: 1rem
  border: 0

  font-size: $medium_font_size
  text-transform: uppercase

  cursor: pointer
