.car .info
  padding: 1rem

  *:last-child
    margin-bottom: 0

.car-detail
  *:last-child
    margin-bottom: 0

  section
    padding: 2rem 1rem
    text-align: center

    &:last-of-type
      margin-bottom: $ledge_height

.certifications
  @extend %gray_theme
