.angular-google-map-container
  height: 200px

.car-detail
  section
    padding: 2rem 3rem

    *:last-child
      margin-bottom: 0

  li
    margin-bottom: 1rem

  .headline-features
    text-align: center

  .flex-row
    margin-bottom: 0.5rem

  .value
    font-weight: $bold_font_weight

  .map
    padding: 0

.certifications
  @extend %gray_theme

  ul
    list-style-type: none
    position: relative

  li::before
    position: absolute
    left: -0.5rem
    content: url(/assets/images/certified_bullet.png)
