.angular-google-map-container
  height: 11rem

.car-detail

  section
    padding: 2rem

    *:last-child
      margin-bottom: 0

  li
    margin-bottom: 1rem

  .image-certified
    padding: 0.5rem 0

    img
      position: relative
      left: -1.5rem
      height: 0.75rem

  .headline-features
    text-align: center

    .feature-content
      padding-top: 0.5rem

      .medium_font_weight
        font-weight: $medium_font_weight

  .flex-row
    margin-bottom: 0.5rem

  .value
    font-weight: $bold_font_weight

  .map
    padding: 0

.text-wrapper
  padding: 0 1rem

.certifications
  @extend %gray_theme

  ul
    list-style-type: none
    position: relative

  li::before
    position: absolute
    left: -0.5rem
    content: url(/assets/images/certified_bullet.png)
