.listing-wrapper
  @extend %flex_scrollable

  .car .info
    padding: 1rem
    font-size: $small_font_size

    *:last-child
      margin-bottom: 0

.no-results
  @extend %flex_container_center
  flex-direction: column
  flex: 1

  h3
    text-transform: uppercase
    font-weight: $bold_font_weight
