.angular-google-map-container
  height: 11rem

.car-detail
  @extend %flex_scrollable

  section
    padding: 2rem

  li
    margin-bottom: 1rem

  .image-certified
    padding: 0.5rem 0

    img
      position: relative
      left: -1.5rem
      height: 0.75rem

  .headline-features
    text-align: center

    .feature-content
      padding-top: 0.5rem

      .medium_font_weight
        font-weight: $medium_font_weight

  .flex-row
    margin-bottom: 0.5rem

  .value
    font-weight: $bold_font_weight

  .map
    padding: 0

  .detail-table
    padding-bottom: 2rem + $floater_height  // HACK: fixes safari page height calculation

  .floater
    display: flex

    .help
      @extend %alpha_black_theme
      flex: 1
      margin: 0.25rem

    .request
      @extend %alpha_blue_theme
      flex: 4
      margin: 0.25rem 0 0.25rem 0.25rem

.text-wrapper
  padding: 0 1rem

.certifications
  @extend %gray_theme

  ul
    list-style-type: none
    position: relative

  li::before
    position: absolute
    left: -0.5rem
    content: url(/assets/images/certified_bullet.png)
