.listing-wrapper
  @extend %flex_scrollable

  .car .info
    padding: 1rem
    font-size: $small_font_size

    *:last-child
      margin-bottom: 0

.listing-filters
  display: flex
  min-height: 3.75rem // HACK: chrome bug fix, not needed for canary, so maybe remove later
  margin: 0 0.25rem

  .box
    @extend %gray_theme
    margin: 0.5rem 0.25rem
    padding: 0.5rem
    flex: 1
    text-align: center

  .box.active
    @extend %blue_theme
    font-weight: $bold_font_weight

  p
    margin: 0
    font-size: $tiny_font_size

.no-results
  @extend %flex_container_center
  flex-direction: column
  flex: 1

  h3
    text-transform: uppercase
    font-weight: $bold_font_weight
