car-image
  position: relative

  img
    width: 100%

  .image
    background: $light_gray
    min-height: 7rem

  .price-tag
    top: 1rem
    position: absolute

.price-tag
  @extend %black_theme
  font-weight: $bold_font_weight
  padding: 0.5rem

  display: flex

  .per, .currency
    font-size: $small_font_size

  .per
    align-self: flex-end
    margin-left: 0.25rem
