%_box
  margin: 0.5rem 0.25rem
  padding: 0.5rem
  text-align: center

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

.listing-filters
  display: flex
  margin: 0 0.5rem

  .box
    @extend %_box
    @extend %gray_theme
    flex: 1

  .box.active
    @extend %blue_theme
    font-weight: $bold_font_weight

.add-filters
  @extend %_box
  @extend %gray_theme
  text-transform: uppercase


.search-modal
  .modal-content
    @extend %gray_theme
    border-radius: 0.25rem
    color: black
    margin: 0.5rem 0

  h3
    margin: 1.5rem 0 0.5rem 0.5rem
    font-size: $base_font_size

  .filter-container, .listing-filters
    border-top: 1px solid $medium_gray
    border-bottom: 1px solid $medium_gray
    margin: 0

  .has-bar
    border-color: $medium_gray

  .filter-container:last-child
    margin-bottom: 2rem

  .filter-row
    @extend %white_theme
    padding: 0 1rem

  .flex-row
    display: flex
    padding: 0.5rem 0

    .filter-label
      @extend %flex_vertical_center
      flex: 1

    label
      font-weight: $bold_font_weight
      margin: 0

  .box
    @extend %white_theme
    font-weight: $bold_font_weight
    border-left: 1px solid $medium_gray

    margin: 0
    padding: 0.75rem 0.5rem

    &:first-child
      border-left: none
