.left-flex-title
  flex: 1
  text-align: left

.check-mark
  margin: 0 auto
  height: 1rem

.font-size-1
  font-size: 1rem

.top-interlude
  margin-top: 15%
  margin-bottom: 2rem

.button-section
  margin-top: 2rem
  margin-bottom: 1rem

.img-wrapper
  width: 2rem
