.field-form
  background-color: $dark_gray
  text-align: center
  color: white

  .text-wrapper
    width: 70%
    margin: 0 auto

    input
      background: none
      border: 0 solid
      text-align: center
    textarea:focus, input:focus
      outline: 0
