.field-form
  background-color: $dark_gray
  text-align: center
  .text-wrapper
    width: 50%
    margin: 0 auto

    p
      color: white

    input
      background: none
      border: 0 solid
      text-align: center
    textarea:focus, input:focus
      outline: 0
