.log-in
  @extend %dark_gray_theme

  .login-content
    width: 80%
    margin: 20% auto 0 auto

    .forgot-wrapper
      padding: 1rem 0
      text-align: right

    .button-wrapper
      margin-top: 8rem

.forgot-password
  color: $ic_blue

.input-form
  width: 100%
  height: 2rem
  padding: 0.5rem
  color: black
