.modal-background
  @extend %alpha_black_theme
  position: fixed
  display: flex
  justify-content: center
  top: 0
  bottom: 0
  right: 0
  left: 0

.modal-content
  color: white

.modal-logo
  position: absolute
  right: 5%
  top: 3%
  height: 2rem

.close
  background: none
  border: none
  position: absolute
  bottom: 5%
  left: 85%

.arrow_img
  height: 1rem

.modal-container
  max-width: $page_max_width
  position: relative
  flex: 1
