%_arrow
  font-size: 2em
  line-height: 0
  vertical-align: sub

.navbar-wrapper
  @extend %app_width
  @extend %black_theme

  .navbar
    display: flex
    padding: 0.5rem 0.75rem
    justify-content: space-between

    .back-button
      flex: 1
      display: flex
      align-items: center

      img
        width: 2rem

    .logo
      flex: 1
      display: flex
      flex-direction: row-reverse
      align-items: center

      img
        height: 2rem

    .next-pointer::after
      @extend %_arrow
      content: "›"
      margin-left: 0.1em

    .prev-pointer::before
      @extend %_arrow
      content: "‹"
      margin-right: 0.1em

    .prev-pointer
      flex: 1
      text-align: left

    .next-pointer
      flex: 1
      text-align: right

    button[disabled]
      color: $medium_gray

    h3
      margin: 0.5em auto 0.5em auto
