%_arrow
  font-size: $em_font_size
  line-height: 0
  vertical-align: sub

.invisible
  visibility: hidden

.next-pointer::after
  @extend %_arrow
  content: "›"
  margin-left: 0.1em

.prev-pointer::before
  @extend %_arrow
  content: "‹"
  margin-right: 0.1em


.navbar-wrapper
  @extend %app_width
  @extend %black_theme

.bar-wrapper
  padding: 0.5rem 0.75rem
  display: flex

  .prev-pointer
    flex: 1
    text-align: left

  .next-pointer
    flex: 1
    text-align: right

  button[disabled]
    color: $medium_gray

  h3
    margin: 0.5rem 0

  .menu-button
    flex: 1
    display: flex
    font-size: $big_font_size
    flex-direction: row-reverse
    align-items: center

    &.menu-open
      color: $ic_blue

  .logout-button
    flex: 1
    text-align: right

.menu
  margin: 0 1.5rem 1rem
  text-align: right

  a
    display: block
    padding: 0.5rem 0
    font-size: $large_font_size
