*
  box-sizing: border-box

html, body
  height: 100%
  background: $dark_gray

body
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  overflow: hidden

.main-wrapper
  @extend %flex_content
  width: 100%

.main-content
  @extend %flex_content
  @extend %flex_scrollable
  @extend %app_width
  margin: 0 auto
  background: white
  color: black
