.has-bar
  border-bottom: 0.125rem solid $light_gray
  border-radius: 0

.upload-button
  color: $ic_blue

.settings-wrapper
  @extend %gray_theme
  padding: 0.1rem 2rem

  section
    background: white
    margin: 1rem auto

    .section-row
      padding: 0 1rem
      font-weight: 500

      p
        color: $medium_gray
        padding-top: 1rem
        margin: 0

      .row-content
        padding: 1rem 0
        display: flex

        label
          text-align: left
          color: $medium_gray

        .label-img
          display: flex
          flex-direction: column

          label
            color: black

          img
            flex: 1
            width: 7rem
            height: 4rem

        button
          flex: 1
          text-align: right

  .requirement p
    text-align: center
    margin: 0

  .terms-of-service
    text-align: center
    font-weight: 500
    margin-bottom: 1rem

    button
      text-decoration: underline



