.tutorial-steps-wrapper
  .tutorial-steps-content
    @extend %flex_container_center
    margin-bottom: 0.5rem

  .tutorial-container
    flex: 1
    margin: 0 0.5rem
    max-width: 3rem
    min-width: 3rem

    img
      height: 100%
      margin: auto

  .content
    padding: 0 1rem

    .light
      margin-top: 0.25rem
      color: $medium_gray
