tutorial
  @extend %fixed_background

  .tutorial-wrapper
    @extend %app_width
    @extend %blue_theme
    height: 100%
    margin: 0 auto

  ul
    padding: 0 4rem

  img
    margin: 3rem auto

  .slick-dots
    bottom: 2rem
