.upload-wrapper
  @extend %gray_theme
  padding: 2rem $page_gutter 0
  height: calc(100vh - 3rem)

  .title
    text-align: center
    line-height: 1.25rem

  .upload-title
    font-weight: $bold_font_weight

  .image-wrapper
    @extend %flex_container_center
    margin: 1.5rem 0

    img
      max-height: 8rem

  .skip-link
    width: 100%
    text-align: center
    margin-top: 1.5rem

    a
      color: $medium_gray
      font-weight: $bold_font_weight
      text-decoration: underline





