.upload-wrapper
  p Please upload a photo of your&nbsp
    span {{fieldName}}

  .image-wrapper
    img(ng-src="/assets/images/FHVLicense.png")

  button.button(ngf-select, ngf-change="upload($files)", ngf-capture="'camera'", ngf-accept="'image/*'", ng-disabled="isBusy")
    ic-loading(ng-show="isBusy")
    span(ng-hide="isBusy") Upload

