p(ng-hide="fileUrl") no file
p file key: {{fileKey}}

div(ng-if="fileUrl")
  img(ng-src="{{fileUrl}}", style="width: 100%")

button.button(ngf-select, ngf-change="upload($files)", ngf-capture="'camera'", ngf-accept="'image/*'", ng-disabled="isBusy")
  span(ng-show="isBusy")
    ic-loading
  span(ng-hide="isBusy") Upload
