.booking-content
  car-image(car='booking.car')

  .content-wording
    section
      ng-include(src='"components/rental_view/features.html"')

    section
      .row
        .label.bold Rental Charges
        .content
          span.bold $425
          span.light &nbspa week

      .light.warning
        div Payment due on Pickup
        div Insurance and Maintanance Included
    section
      ng-include(src='"components/rental_view/time.html"')

    button.button Pay Deposit

ng-include(src='"components/rental_view/cancel.html"')
