.booking-content
  car-image(car='booking.car')

  .content-wording
    ng-include(src='"components/rental_view/features.html"')

button.button(ng-click='uploadDocuments()') Upload Documents
button.button.cancel(ng-click='cancelBooking(booking.id)') Cancel Reservation
