.booking-content
  car-image(car='booking.car')

  .content-wording
    section
      ng-include(src='"components/rental_view/features.html"')
    section
      ng-include(src='"components/rental_view/time.html"')

    button.button Pay Deposit

ng-include(src='"components/rental_view/cancel.html"')
