.booking-content
  car-image(car='booking.car')

  .content-wording
    h2 {{booking.car.name}}
    .light {{booking.car.booked_features}}
    .light {{booking.car.headline_features[2]}} #[span.unpaid Upaid]
    button.button(ng-click='uploadDocuments()') Upload Documents

button.button.cancel(ng-click='cancelBooking(booking.id)') Cancel Reservation
