.time-container
  .row
    .bold.label Rental Starts
    .light.content July 30th
  .row
    .bold.label Rental Ends
    .light.content August 30th
  .row
    .light.label 3 week minimum
    button.clear-button.light.content Change End Date
