.time
  .row
    .bold.left Rental Starts
    .light.right July 30th
  .row
    .bold.left Rental Ends
    .light.right August 30th
  .row
    .light.left 3 week minimum
    button.clear-button.light.right Change End Date
