.time-container
  .row
    .bold.label Rental Starts
    .light.content {{booking.start_time_display}}
  .row
    .bold.label Rental Ends
    .light.content {{booking.end_time_display}}
  .row
    button.clear-button.bold.label Change End Date
    .light.content {{booking.end_time_limit_display}}

