.log-in
  .upper-section
    .input-wrapper
      input(type='tel', name='phone', placeholder='Phone number', auto-focus='true')
      input(type='password', name='password', placeholder='Password')
      .forgot-wrapper
        a(href="mailto:support@idlecars.com?subject=Forgot My Password&body=Please send me my password.") Forgot my Password

  .lower-section
    .button-wrapper
      button.button Log in
      button.white-boarder-button Create an account
