.log-in
  .upper-section
    .input-wrapper
      input(type='tel', name='phone', placeholder='Phone number', auto-focus='true')
      input(type='password', name='password', placeholder='Password')
      .forgot-wrapper
        a Forgot my Password

  .lower-section
    .button-wrapper
      button.button-login Log in
      button.white-boarder-button Create an account
