.settings-wrapper.docs-overview-wrapper

  .top-interlude
    .b-inter-content You must submit all documents to complete your rental.

  section
    .section-row
      title Your Driver Documents
    .section-row(ng-repeat='item in driverDocuments')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref="{{item.sref}}")
        .left-flex-title {{item.title}}
        .img-wrapper
          img.check-mark(ng-if='item.isUploaded', src='/assets/images/Mark_Check.png')
          .color-red.next-pointer(ng-if='!item.isUploaded') Upload

  .section-interlude
    .b-inter-content What happens next?
    span.s-inter-content.dark-gray
      | When you have submitted all your documents, you will be added to your car's insurance.
      | This usually takes 24-48 hours. Then you can pick up your car and start earning.

  .button-section
    a.button(ui-sref='driverAccount.bookings') My Rental
