.settings-wrapper

  .top-interlude
    .b-inter-content Upload all your documents to complete your rental.

  section
    .section-row
      p.section-title.medium-gray Driver Documents
    .section-row(ng-repeat='item in driverDocuments')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref="{{item.sref}}")
        .left-flex-title {{item.title}}
        .img-wrapper
          img.check-mark(ng-if='item.isUploaded', src='/assets/images/Mark_Check.png')
          .color-red.next-pointer(ng-if='!item.isUploaded') Upload

  .section-interlude
    .b-inter-content Questions?
    span.s-inter-content.medium-gray Please call 1-844-IDLECAR or email support@idlecars.com.

  .button-section
    a.button(href="tel:1-844-435-3227") Call Now
