.bookings-wrapper
  .bookings-container
    .booking-content
      .content-wording
        section
          h3 Success!
        section
          .row.bold
            .label First week payment
            //- TODO: let server send weekly cost
            .content ${{booking.car.cost * 7}} #[span.due &nbspPaid]
        section
          .light
            | Your credit card has been charged ${{booking.car.cost * 7}}.
            |  The owner has been emailed to confirm the funds have been transferred.
            |  You should now get the keys and start driving.
        hr
        section
          .row.bold
            .label Next Payment
            .content(style='flex: 5') ${{booking.car.cost * 7}} #[span.light &nbspon August 8th]

      car-image(car='booking.car')

      .content-wording
        section
          ng-include(src='"components/rental_view/features.html"')

        section
          button.button(ui-sref='^') OK
