.booking-content
  car-image(car='booking.car')

  .content-wording
    section
      car-features
    section
      booking-date
    hr
    .flex-row
      .label.bold Next Payment
      .content.bold ${{booking.next_payment.amount}} #[span.light &nbspon pickup]

    .tiny(ng-if='!insuranceApproved()') We will notify you when your insurance has been approved. This can take 24 to 48 hours.
    button.button(ng-if='!insuranceApproved()', ng-disabled='true') Waiting for insurance
    button.button(ng-if='insuranceApproved()', ng-disabled='false', ui-sref='.pickup') Arrange to pick up your car

booking-cancel
