.booking-success

  .black-hero
    h1 Success!

  section.insurance-approval
    span Your documents will be submitted to the insurance provider for approval

  section.arrange-pickup
    span An idlecars representative will contact you to arrange to pick up the car once you are approved on the insurance

a.button(href="tel:1-844-idlecar") Questions? Call us.
