.booking-success

  .black-hero
    h1 Rental Complete!

  section.insurance-approval
    span Your paperwork is being processed.

  section.arrange-pickup
    span
      | When processing is finished we will contact you to pick up your car.
      | This usually takes 24-48 hours.

a.button(ui-sref='driverAccount.faq') Questions
