.booking-success

  .black-hero
    h1 Rental Complete!

  section.insurance-approval
    span Your paperwork is being processed.

  section.arrange-pickup
    span When the processing is complete an idlecars representative will contact you to pick up your car. This usually takes about 24 hours.

a.button(href="tel:1-844-435-3227") Questions? Call 1-844-IDLECAR
