.upload-wrapper
  .upload-container
    .title
      div Please upload a photo of
      .upload-title {{uploadTitle}}

    ic-upload(file-url="{{fileUrl}}", after-upload="afterUpload", associate-to-user="associateToUser")

    .skip-link
      a(ng-if='skipOptionalDoc', ng-click="skipOptionalDoc()") I accept the charge for All Taxi to get an MVR
