.upload-wrapper
  .upload-container
    .title
      div Please upload an image of
      .upload-title {{uploadTitle}}

    ic-upload(file-url="{{fileUrl}}", after-upload="afterUpload", associate-to-user="associateToUser")

    .skip-link
      a(ng-if='skipOptionalDoc', ng-click="skipOptionalDoc()") Tap here to authorize All Taxi to run an MVR for you. The
        | fee for NY MVR is $14.00 and NJ is $20.00.  By accepting this option you authorize All Taxi to add this charge
        | to your All Taxi account and automatically deduct it.
