div(layout="vertical" layout-fill)

  header(ng-include="'components/navbar/navbar.html'")

  md-content
    h1 {{ cars }}

  footer
    md-toolbar(layout="row" layout-align="center center")
      p Made with ♥ by idlecars
