modal.welcome-modal(ng-if='welcomeModalOn;', action-click='closeModal()')
  h1 Welcome to idlecars!
  p The best way to keep your cars busy
  p Here's how it works:
  ul
    li Drivers put a deposit on their credit card to rent your car online.
    li Their documents are collected and pre-screened for you.
    li Payments will be direct deposited into your bank account for the duration of the rental.
    li Idlecars only charges a 5.9% fee to cover marketing expenses and administative costs.
  p Bookmark this page now. From here you can add cars directly to the listings in our app. You control the pricing and
    | availability of your cars, and you can manage your account.
  ul
    li
      a(ui-sref='terms') Terms of Service
    li
      a(ui-sref='faq.owner') Questions?

