modal.welcome-modal(ng-if='welcomeModalOn;', action-click='closeModal()')
  h1 Welcome to All Taxi!
  p List available shifts and find drivers for your cars.
  p Here's how it works:
  ul
    li Enter information about the car and the shifts you have available.
    li Drivers browse the listings, select a shift, and upload their documentation.
    li You receive an email with the driver's information and the option to accept the driver.
    li If you accept the driver, they are added to the insurance for that car.
  p Bookmark this page now. From here you can add and remove shifts, control the pricing and
    | availability, and you can manage your account.
