modal.welcome-modal(ng-if='welcomeModalOn;', action-click='closeModal()')
  h1 Welcome to All Taxi!
  p List available shifts, find drivers, and them and remove them. All online.
  hr
  p Here's how it works:
  ul
    li Enter information about the car and the shifts you have available.
    li Drivers browse the listings, select a shift, and upload their documentation.
    li You receive an email with the driver's information and the option to accept the driver.
    li If you accept the driver, they are added to that car.
  hr
  p Or you can just add and remove drivers directly:
  ul
    li Choose "Add driver" or "Remove Driver" from the menu
    li Enter the driver's information
    li All Taxi takes care of the rest!
  p
  hr
  p Bookmark this page now. From here you can add and remove shifts, control the pricing and
    | availability, and you can manage your account.
