.bar-wrapper
  button.clear-button.back-button(ng-click='goBack()')
    img(src='/assets/images/Arrow_Back.png')
  .menu-button(ng-click='menuOpen = !menuOpen', ng-class="{'menu-open': menuOpen}") ☰

.menu(ng-show="menuOpen")
  a(ui-sref='cars') Listings
