.bar-wrapper
  button.prev-pointer.clear-button(ng-click="Navbar.popState()")
  h3 Sign up
  button.next-pointer.clear-button(ui-sref="{{navNextSref ? navNextSref : '.'}}", ng-disabled="!navNextEnabled") Next
