.bar-wrapper
  button.clear-button.prev-pointer(ng-click='goBack()', ng-class='{"invisible": !enableBack}')
  h3 {{title}}
  .menu-button(ng-click='menuOpen = !menuOpen', ng-class="{'menu-open': menuOpen}") ☰

.menu(ng-show="menuOpen")
  a(ui-sref='cars', ng-click='menuOpen = false') Home
