.bar-wrapper
  section
    button.clear-button.prev-pointer(ng-show='navbarInfo.enableBack', ng-click='goBack()')
  h3 {{navbarInfo.title}}
  section
    .right-button(ng-show='navbarInfo.enableNext', ng-click='menuOpen = !menuOpen')
      img(src='/assets/images/burger_button.png', ng-show='!menuOpen')
      img(src='/assets/images/burger_button_blue.png', ng-show='menuOpen')

    button.clear-button.right-button(ng-show='navbarInfo.enableSave', ng-click='save()', ng-disabled="!navNextEnabled") Save

.menu(ng-show="menuOpen")
  a(ui-sref='cars', ng-click='menuOpen = false') Home
  a(ng-if='isLoggedIn', ui-sref='driverAccount') My account
  a(ng-if='isLoggedIn', ng-click='logout()') Log out
  a(ng-if='!isLoggedIn', ui-sref='driverAccount') Log in
  a(ui-sref='driverAccount.faq', ng-click='menuOpen = false') Questions
