.bar-wrapper
  button.clear-button.prev-pointer(ng-click='goBack()', ng-class="{'invisible': !navbarInfo.enableBack}")
  h3 {{navbarInfo.title}}
  .menu-button(ng-click='menuOpen = !menuOpen', ng-class="{'menu-open': menuOpen, 'invisible': !navbarInfo.enableNext}") ☰

.menu(ng-show="menuOpen")
  a(ui-sref='cars', ng-click='menuOpen = false') Home
