.bar-wrapper
  section
    button.clear-button.prev-pointer(ng-show='navbarInfo.enableBack', ng-click='goBack()')
  h3 {{navbarInfo.title}}
  section
    .right-button(ng-show='navbarInfo.enableMenu', ng-click='menuOpen = !menuOpen')
      .burger-button-container
        .burger-button(ng-class='{active: menuOpen}')

    button.clear-button.right-button(ng-show='navbarInfo.enableSave', ng-click='save()', ng-disabled="!navNextEnabled") Save
    button.clear-button.next-pointer(ng-show='navbarInfo.enableNext', ng-click="navGoNext()", ng-disabled="!navNextEnabled") Next

.menu(ng-show="menuOpen")
  a(ng-show='isLoggedIn', ui-sref='cars', ng-click='menuOpen = false') My listings
  a(ng-show='isLoggedIn', ui-sref='medallion', ng-click='menuOpen = false') Add a Driver
  a(ng-show='isLoggedIn', ui-sref='hackLicense', ng-click='menuOpen = false') Remove a Driver
  a(ng-show='isLoggedIn', ui-sref='ownerAccount', ng-click='menuOpen = false') My account
  //- a(ui-sref='faq', ng-click='menuOpen = false') Questions
