.bar-wrapper
  button.prev-pointer.clear-button(ng-click="Navbar.popState()")
  h3 Create an account
  button.next-pointer.clear-button(ng-click="Field.goNextState()" ng-disabled="!Field.isValid") Next
