.settings-wrapper

  .car-detail
    p Would you like to

    button.button(ui-sref='plate') List a shift
    button.button(ui-sref='medallion') Add a driver
    button.button(ui-sref='hackLicense') Remove a driver
    button.button(ui-sref='ownerAccount') See my account
    a.button(href='http://www.alltaxi.com/for-drivers/check-your-balance/',
      target='new',
      ng-click='menuOpen = false'
      ) See my balance
