.booking-success

  .black-hero
    h1 Success!

  section.insurance-approval
    span
      | Awesome! We have received your information!.
      | You will be able to charge your drivers in the next few days.
