.booking-success

  .black-hero
    h1 Success!

  section.insurance-approval
    span
      | You have created your account!
      | We just need to verify your bank information and then you will be ready to start receiving payments.
