.booking-success

  .black-hero
    h1 Success!

  section.insurance-approval
    span
      | Success! We have received your information.
      | Soon you will be able to accept payments through the idlecars app.
