.modal-background
  .modal-container
    .popup-container
      .title Confirm Cancel
      .sub-title Are you sure you want to cancel this booking?

      button.button(ng-click='icDismiss()') No, keep this booking
      button.button.confirm(ng-click='icConfirm()') Yes, cancel this booking
