.modal-background(ng-show='showModal')
  .modal-container
    .popup-container
      .title Confirm Cancel
      .sub-title Are you sure you want to cancel this booking?

      button.button(ng-click='showModal = false') No, keep this booking
      button.button.confirm(ng-click='result.resolve(); showModal = false') Yes, cancel this booking
