.tutorial-wrapper(ng-if='true')
  slick(dots='true', arrows='false', infinite='false')
    div
      img(src='/assets/images/white_car.png')
      h3 Pick A Car. Any Car.
      p.
        Find the car that fits your style #[br]
        and budget. Choose from a wide #[br]
        variety of makes, models, #[br]
        mileage and more.
    div
      img(src='/assets/images/white_car.png')
      h3 Create Your Account.
      p.
        Using your smartphone, take clear #[br]
        pictures of these 4 documents #[br]
      ul
        li Proof of Address and a
        li Defensive Driving Certificate (optional).
        li Upload from our app and
        li you’re good to go.
    div
      img(src='/assets/images/white_car.png')
    div
      img(src='/assets/images/white_car.png')
