.cars-wrapper
  h1(hidden) My cars

  section
    welcome-cars-modal

  section.add
    a(ui-sref="plate") + Add a new car

  section.cars
    a.car(ng-repeat="car in cars", ui-sref=".detail({carId: car.id, car: car})")
      car-detail(car='car')
