.garage-wrapper
  h1(hidden) My cars

  .welcome
    h2 Welcome to your Garage
    p List your car to the marketplace and manage your vehicles here

  a.car(ng-repeat="car in cars", ui-sref=".detail({carId: car.id, car: car})")
    .info
      h3 {{car.name}}
      p {{car.plate}}
      p {{car.status}}

welcome-modal
