.confirm-container
  .text-wrapper
    section.title
      p Please confirm this is your car

    section.car-info
      p Plate: T2434342C
      p 2014 Toyota Camery
      p Base: Idle Cars LLC

    section
      button.button(ng-click='addCar()') That's my car
      button.button(ui-sref='^.plate') Not my car
