.settings-wrapper

  section
    car-detail(car='car')

  section
    .section-row(ng-repeat='item in carDetail')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref='{{item.link}}')
        label.m-gray {{item.title}}
        .content-main {{car[item.content]}}
        .next-pointer

  section
    button.alert-button(ng-click='deleteCar()') Delete shift

ic-loading(ng-show='isBusy')
