h1(hidden) {{car.name}} for rent

.car-detail.has-floater
  car-image

  section.headline-features
    h2 {{car.name}}
    .feature-content
      p(ng-repeat='subhead in car.headline_features', ng-class='{"medium_font_weight": $last}') {{subhead}}

  section.certifications
    ul
      li(ng-repeat='cert in car.certifications') {{cert}}
      .image-certified
        img(src='/assets/images/idlecars_certified.png')

  section.map
    map(address='{{car.zipcode}}', ng-if='car')

  section.detail-table
    h3 Car Details
    .flex-row(ng-repeat='deet in car.details')
      .flex-cell {{deet[0]}}
      .flex-cell.value {{deet[1]}}

a.floater.button(ui-sref=".booking") Request this car

ui-view
