.settings-wrapper
  section
    .section-row(ng-repeat='item in carInfo')
      a.row-content(ng-class='{"has-bar": !$last}')
        label.m-gray {{item.title}}
        .content-main {{car[item.content]}}

  section
    .section-row(ng-repeat='item in carDetail')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref='{{item.link}}')
        label.m-gray {{item.title}}
        .content-main {{car[item.content]}}
        .next-pointer

  section
    button.button(ng-if='car.status != "available"', ng-click='relistCar()') List my car

  section
    button.cancel-button(ng-if='car.status == "available"', ng-click='delistCar()') Remove listing

  section
    button.alert-button(ng-click='deleteCar()') Delete car

ic-loading(ng-show='isBusy')
