h2 Listings
.car-list
  a.car-item(ng-repeat="car in cars", ui-sref="carsShow({carId: car.id, car: car})")
    .image
      img(src='')
      .cost
        span.currency $
        span {{car.cost}}
        span.per {{car.cost_time}}
    .info
      h3 {{car.name}}
      p {{car.listing_features}}
