h1(hidden) Rent cars for rideshare
//- a.car(ng-repeat='car in cars', ui-sref='carsShow({carId: car.id, car: car})')
a.car(ng-repeat='car in cars', ui-sref='bookingsShow({bookingId: 3})')
  car-image
  .info
    h3 {{car.name}}
    p {{car.listing_features}}
