h2 Cars for rent
a.car(ng-repeat='car in cars', ui-sref='carsShow({carId: car.id, car: car})')
  .image
    img(ng-src='{{car.image_src}}')
    .cost
      span.currency $
      span {{car.cost}}
      span.per {{car.cost_time}}
  .info
    h3 {{car.name}}
    p {{car.listing_features}}
