h1(hidden) Rent cars for rideshare

.listing-filters
  label.box(for="cheap") < $50
  input(id="cheap", type="checkbox", ng-model="carFilter.cheap", ng-class="{active: carFilter.cheap}", hidden)

  label.box(for="medium") $50 - 80
  input(id="medium", type="checkbox", ng-model="carFilter.medium", ng-class="{active: carFilter.medium}", hidden)

  label.box(for="pricey") $80+
  input(id="pricey", type="checkbox", ng-model="carFilter.pricey", ng-class="{active: carFilter.pricey}", hidden)

.listing-wrapper(save-scroll)

  a.car(ng-repeat="car in cars | attrFilter:carFilter", ui-sref=".detail({carId: car.id, car: car})")
    car-image
    .info
      h3 {{car.name}}
      p {{car.listing_features}}
