h1(hidden) Rent cars for rideshare

.listing-filters
  button.clear-button(ng-click="setCostBucket('$')", ng-class="{active: costBucket == '$'}") $
  button.clear-button(ng-click="setCostBucket('$$')", ng-class="{active: costBucket == '$$'}") $$
  button.clear-button(ng-click="setCostBucket('$$$')", ng-class="{active: costBucket == '$$$'}") $$$

.listing-wrapper(save-scroll)

  a.car(ng-repeat="car in cars | filter: costBucket && {cost_bucket: costBucket}", ui-sref=".detail({carId: car.id, car: car})")
    car-image
    .info
      h3 {{car.name}}
      p {{car.listing_features}}
