.listing-wrapper(save-scroll)
  h1(hidden) Rent cars for rideshare

  input(ng-model="min", placeholder="min")
  input(ng-model="max", placeholder="max")

  a.car(ng-repeat="car in cars | attrInRange:'cost':min:max", ui-sref=".detail({carId: car.id, car: car})")
    car-image
    .info
      h3 {{car.name}}
      p {{car.listing_features}}
