h1(hidden) Rent cars for rideshare

a.search(ui-sref=".search")
  img(src="/assets/images/icon_search.png")

.no-results(ng-if="cars.length === 0")
  h3 No Matching Cars
  p Try a different search

.listing-wrapper(save-scroll)

  a.car(ng-repeat="car in cars", ui-sref=".detail({carId: car.id, car: car})")
    car-image(car='car')
    .info
      h3 {{car.name}}
      p {{car.listing_features}}

ui-view
