h1(hidden) Rent cars for rideshare

.listing-filters
  .box(ng-click="didFilter('cost_bucket', 'cheap')", ng-class="{active: filters.cost_bucket.cheap}") < $60
    p a day
  .box(ng-click="didFilter('cost_bucket', 'medium')", ng-class="{active: filters.cost_bucket.medium}") $60 - 80
    p a day
  .box(ng-click="didFilter('cost_bucket', 'pricey')", ng-class="{active: filters.cost_bucket.pricey}") $80+
    p a day

  a.search(ui-sref=".search")
    img(src="/assets/images/icon_search.png")

.no-results(ng-if="cars.length === 0")
  h3 No Matching Cars
  p Try a different search

.listing-wrapper(save-scroll)

  a.car(ng-repeat="car in cars", ui-sref=".detail({carId: car.id, car: car})")
    car-image(car='car')
    .info
      h3 {{car.name}}
      p {{car.listing_features}}

ui-view
