section.map
  ui-gmap-google-map(center='map.center', zoom='map.zoom', options='map.options')
    ui-gmap-circle(center='circle.center', radius='circle.radius', stroke='circle.stroke', fill='circle.fill')

