.modal(ng-show='modal_show')
  .modal-dialog
    .scroller
      img.modal-logo(ng-src='/assets/images/idlecars_logo_white.png')
      button.close(ng-click='closeModal()')
        img.arrow_img(ng-src='assets/images/Arrow_Next.png')
      .modal-content
        p Welcome to idlecars,
        br
        p Our marketplace allows drivers to rent vehicles in the most efficient, safe, and fair way possible. The cars listed here are hand-picked by our staff and inspected for quality. Every car has a validated TLC license and is ready to drive. When you book a rental through idlecars, you can be confident that you’re getting the car you want.
        br
        p If you have any questions about our process, or about a particular vehicle, please call 1-844-idlecar or email support@idlecars.com.
        br
        p Take a look around - we hope you find what you’re looking for!
        br
        p - Idlecars Team


