.modal(ng-show='modal_show')
  .modal-dialog
    .scroller
      img.modal-logo(ng-src='/assets/images/idlecars_logo_white.png')
      button.close(ng-click='closeModal()')
        img.arrow_img(ng-src='assets/images/Arrow_Next.png')
      .modal-content
        h2 Modal View
        p The governor of Maryland promised Tuesday to put the appropriate assets in place to prevent further looting that was seen in Baltimore in the past 24 hours in reaction to the funeral of Freddie Gray, a young black man who died while in police custody.
        p Gov. Larry Hogan, a Republican, said officials in his cabinet have been meeting with city leaders to better prepare for any new unrest. Hogan said he would not point fingers about the city's response under Mayor Stephanie Rawlings-Blake.
        p Gov. Larry Hogan, a Republican, said officials in his cabinet have been meeting with city leaders to better prepare for any new unrest. Hogan said he would not point fingers about the city's response under Mayor Stephanie Rawlings-Blake.
        p Gov. Larry Hogan, a Republican, said officials in his cabinet have been meeting with city leaders to better prepare for any new unrest. Hogan said he would not point fingers about the city's response under Mayor Stephanie Rawlings-Blake.
        p Gov. Larry Hogan, a Republican, said officials in his cabinet have been meeting with city leaders to better prepare for any new unrest. Hogan said he would not point fingers about the city's response under Mayor Stephanie Rawlings-Blake.


