modal.search-modal(action-sref="^")

  h3 Cost per day
  .listing-filters
    .box(ng-click="didFilter('cost_bucket', 'cheap', $event)", ng-class="{active: filters.cost_bucket.cheap}") < $60
    .box(ng-click="didFilter('cost_bucket', 'medium', $event)", ng-class="{active: filters.cost_bucket.medium}") $60 - 80
    .box(ng-click="didFilter('cost_bucket', 'pricey', $event)", ng-class="{active: filters.cost_bucket.pricey}") $80+

  h3 Type of car
  .filter-container
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Uber X
        on-off-button(status='filters.work_with.uberX', ng-click="didFilter('work_with', 'uberX', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Uber XL
        on-off-button(status='filters.work_with.uberXL', ng-click="didFilter('work_with', 'uberXL', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Uber SUV
        on-off-button(status='filters.work_with.uberSUV', ng-click="didFilter('work_with', 'uberSUV', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Uber Black
        on-off-button(status='filters.work_with.uberBlack', ng-click="didFilter('work_with', 'uberBlack', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Lyft
        on-off-button(status='filters.work_with.Lyft', ng-click="didFilter('work_with', 'Lyft', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Lyft Plus
        on-off-button(status='filters.work_with.Lyft Plus', ng-click="didFilter('work_with', 'Lyft Plus', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Gett
        on-off-button(status='filters.work_with.Gett', ng-click="didFilter('work_with', 'Gett', $event)")
    .filter-row
      .flex-row
        .filter-label
          label Via
        on-off-button(status='filters.work_with.Via', ng-click="didFilter('work_with', 'Via', $event)")
