modal.search-modal(action-sref="^")

  h3 Cost per day
  .listing-filters
    .box(ng-click="didFilter('cost_bucket', 'cheap', $event)", ng-class="{active: filters.cost_bucket.cheap}") < $60
    .box(ng-click="didFilter('cost_bucket', 'medium', $event)", ng-class="{active: filters.cost_bucket.medium}") $60 - 80
    .box(ng-click="didFilter('cost_bucket', 'pricey', $event)", ng-class="{active: filters.cost_bucket.pricey}") $80+

  h3 Type of car
  .filter-container
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Uber X
        on-off-button(status='filters.work_with.uber_x', ng-click="didFilter('work_with', 'uber_x', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Uber XL
        on-off-button(status='filters.work_with.uber_xl', ng-click="didFilter('work_with', 'uber_xl', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Uber SUV
        on-off-button(status='filters.work_with.uber_suv', ng-click="didFilter('work_with', 'uber_suv', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Uber Black
        on-off-button(status='filters.work_with.uber_black', ng-click="didFilter('work_with', 'uber_black', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Lyft
        on-off-button(status='filters.work_with.lyft_standard', ng-click="didFilter('work_with', 'lyft_standard', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Lyft Plus
        on-off-button(status='filters.work_with.lyft_plus', ng-click="didFilter('work_with', 'lyft_plus', $event)")
    .filter-row
      .flex-row.has-bar
        .filter-label
          label Gett
        on-off-button(status='filters.work_with.gett_standard', ng-click="didFilter('work_with', 'gett_standard', $event)")
    .filter-row
      .flex-row
        .filter-label
          label Via
        on-off-button(status='filters.work_with.via_standard', ng-click="didFilter('work_with', 'via_standard', $event)")
