modal.search-modal(action-sref="^")

  h3 Cost per day
  .listing-filters
    .box(ng-click="didFilter('cost_bucket', 'cheap', $event)", ng-class="{active: filters.cost_bucket.cheap}") < $60
    .box(ng-click="didFilter('cost_bucket', 'medium', $event)", ng-class="{active: filters.cost_bucket.medium}") $60 - 80
    .box(ng-click="didFilter('cost_bucket', 'pricey', $event)", ng-class="{active: filters.cost_bucket.pricey}") $80+

  h3 Type of car
  .listing-filters
    .box(ng-click="didFilter('body_type', 'Sedan', $event)", ng-class="{active: filters.body_type.Sedan}") Sedan
    .box(ng-click="didFilter('body_type', 'SUV', $event)", ng-class="{active: filters.body_type.SUV}") SUV

  .listing-filters
    .box(ng-click="didFilter('lux_level', 'Luxury', $event)", ng-class="{active: filters.lux_level.Luxury}") Luxury
