modal.search-modal(action-sref="^")

  h3 Cost per day
  .listing-filters
    .box(ng-click="didFilter('cost_bucket', 'cheap', $event)", ng-class="{active: filters.cost_bucket.cheap}") < $60
    .box(ng-click="didFilter('cost_bucket', 'medium', $event)", ng-class="{active: filters.cost_bucket.medium}") $60 - 80
    .box(ng-click="didFilter('cost_bucket', 'pricey', $event)", ng-class="{active: filters.cost_bucket.pricey}") $80+

  h3 Type of car
  .filter-container
    .filter-row
      .flex-row.has-bar
        .filter-label
          label UberX
        on-off-button(status='status_UberX', ng-click="status_UberX = !status_UberX; didFilter('body_type', 'Sedan', $event)")
    .filter-row
      .flex-row
        .filter-label
          label UberSUV
        on-off-button(status='status_UberSUV', ng-click="status_UberSUV = !status_UberSUV; didFilter('body_type', 'Sedan', $event)")
