.settings-wrapper

  section.account-info
    .section-row(ng-repeat='item in accountInfo')
      .row-content(ng-class='{"has-bar": item.hasBar}')
        label {{item.label}}
        button.clear-button(ng-class='{"next-pointer": item.nextPointer}') {{item.button}}

  .requirement
    p(style='color: black') All driver documents are required
    p(style='font-weight: 100') to complete your booking

  section.driver-documents
    .section-row
      p Driver Documents
    .section-row(ng-repeat='item in driverDocuments')
      a.row-content(ng-class='{"has-bar": item.hasBar}', ui-sref='cars')
        .label-img
          label {{item.label}}
          img(ng-src='{{item.image}}')
        .upload-change
          p.next-pointer(ng-if='item.isUploaded') Change
          p.next-pointer(ng-if='!item.isUploaded', style='color: red') Upload

  .terms-of-service
    a.clear-button(href='http://www.google.com') Terms of Service
