h1(hidden) {{car.name}} for rent

.car-detail
  car-image

  section
    h2 {{car.name}}
    p(ng-repeat='subhead in car.subheads') {{subhead}}

  section.certifications
    p certifications

a.button.ledged(ui-sref="carsBooking({carId: car.id, car: car})") Request this car
