h1(hidden) {{car.name}} for rent

ui-view

.car-detail.has-floater
  car-image

  section.headline-features
    h2 {{car.name}}
    p(ng-repeat='subhead in car.headline_features') {{subhead}}

  section.certifications
    ul
      li(ng-repeat='cert in car.certifications') {{cert}}

  section.map
    map(address='{{car.zipcode}}', ng-if='car')

  section.detail-table
    h3 Car Details
    .flex-row(ng-repeat='deet in car.details')
      .flex-cell {{deet[0]}}
      .flex-cell.value {{deet[1]}}

a.floater.button(ui-sref="carsBooking({carId: car.id, car: car})") Request this car
