h1(hidden) {{car.name}} for rent

.car-detail
  car-image

  section
    h2 {{car.name}}
    div(ng-repeat='subhead in car.headline_features') {{subhead}}

  section.certifications
    li(ng-repeat='cert in car.certifications') {{cert}}

  section
    div(ng-repeat='deet in car.details')
        {{deet[0]}} {{deet[1]}}

a.button(ui-sref="carsBooking({carId: car.id, car: car})") Request this car
