h1(hidden) {{car.name}} for rent

.car-detail
  car-image

  section.headline-features
    h2 {{car.name}}
    p(ng-repeat='subhead in car.headline_features') {{subhead}}

  section.certifications
    ul
      li(ng-repeat='cert in car.certifications') {{cert}}

  section.map
    ui-gmap-google-map(center='map.center', zoom='map.zoom', options='map.options')
      ui-gmap-marker(coords='marker.coords', idKey='1', options='marker.options')
      ui-gmap-circle(center='circle.center', radius='circle.radius', stroke='circle.stroke', fill='circle.fill')

  section.detail-table
    h3 Car Details
    .flex-row(ng-repeat='deet in car.details')
      .flex-cell {{deet[0]}}
      .flex-cell.value {{deet[1]}}

a.button(ui-sref="carsBooking({carId: car.id, car: car})") Request this car
