modal.welcome-cars-modal(ng-if='welcomeCarsModalOn', action-click='closeCarsModal()')
  h2 Welcome to your Garage
  p This is where you can add and manage your cars. You can change their listing prices, required deposit and their availability.
