modal.welcome-cars-modal(ng-if='welcomeCarsModalOn', action-click='closeCarsModal()')
  h2 This is the My Cars screen
  p This is where you can add and manage your cars. You can add and remove listings, change rental prices, and edit all the details of your cars.
