modal.welcome-cars-modal(ng-if='welcomeCarsModalOn', action-click='closeCarsModal()')
  h2 Congratulations, your account is complete!
  p (We suggest you bookmark this page now)
  br
  hr
  br
  p From here you can post and manage listings for shifts on your cars.
    | You can view requests from drivers, and add or remove them from your cars.
  br
  hr
  br
  p If you want to add a driver and you have all their documentation, you can add and remove
    | your own drivers from the main menu. Just choose "Add Driver", or "Remove Driver"
